@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #e0b11c;
        --color-secondary: #4c5c2c;
        --color-tertiary: #e77c38;
        --color-quaternary: #b7a897;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    header {
        background-color: #f5f5f5;
        color: white;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f5f5f5;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Slab', serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .hero-image {
        background-image: url('../images/bg/hero-food.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
}

@layer components {

    .btn-nav {
        background-color: white;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-nav:hover {
        background-color: var(--color-quaternary);
        @apply rounded-lg;
    }
}